@inherits LayoutComponentBase;

<div class="page">
    <MudThemeProvider @ref="@_mudThemeProvider" IsDarkMode="true" /> @*@bind-IsDarkMode="@_isDarkMode"/>*@
    <MudDialogProvider/>
    <MudSnackbarProvider />

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private bool _isDarkMode = false;
    private MudThemeProvider? _mudThemeProvider;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider!.GetSystemPreference();
            StateHasChanged();
        }
    }
}