<OverlayTabTemplate>
    <MudStack Row="true">

        <MudForm>
            <MudTextField 
                    T="string" 
                    Label="Your Name" 
                    Required="true"
                    Value="State.PersonsName"
                    ValueChanged="(name) => State.PersonsName = name" />
        </MudForm>

        <MudRadioGroup 
                T="@NamingScheme" 
                SelectedOptionChanged="(scheme) => State.Scheme = scheme" 
                Style="padding=6px" 
                SelectedOption=@State.Scheme>

            <div style="overflow:scroll;max-height:300px;">
                <MudStack Spacing=0>
                    @foreach (var scheme in Enum.GetValues<NamingScheme>())
                    {
                        <MudRadio Color="Color.Primary" Option="@scheme">@scheme</MudRadio>
                    }
                </MudStack>
            </div>
        </MudRadioGroup>

    </MudStack>
</OverlayTabTemplate>

@code {
    [Parameter]
    public NameExoplanetOperationState State { get; set; } = null!;
}
