<div>
    <MudCard Elevation="10" Square="true">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="40px" Width="40px" />
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudSkeleton Animation="Animation.Wave" Width="40%" />
                <MudSkeleton Animation="Animation.Wave" Width="60%" />
            </CardHeaderContent>
        </MudCardHeader>

        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="620px" />
    </MudCard>
</div>