@inherits LayoutComponentBase;
@inject HttpClient httpClient;
@inject IJSRuntime jsRuntime;

<div class="page">
    <div class="sidebar">
        <MudThemeProvider/>
        <MudDialogProvider/>
        <MudSnackbarProvider/>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        var stream = await httpClient.GetStreamAsync("PictureOfTheDay");
        var dotnetImageStream = new DotNetStreamReference(stream);

        await jsRuntime.InvokeVoidAsync("updateBackground", 
            new object[] { dotnetImageStream });

        await base.OnInitializedAsync();
    }
}
