@page "/exoplanet"

<div class="page-background" >
    <InfiniteScrolling ItemsProvider=@GetExoplanets>
        <ItemTemplate Context="item">
            <MudContainer MaxWidth="MaxWidth.Small" Class="pa-2">
                <PlanetCard Exoplanet=@item  />
            </MudContainer>
        </ItemTemplate>
        <LoadingTemplate>
            <MudContainer MaxWidth="MaxWidth.Small" Class="pa-2">
                <PlanetCardLoading />
            </MudContainer>
        </LoadingTemplate>
    </InfiniteScrolling>
</div>

@code {
    private int _currentPage = 1;

    [Inject] 
    public HttpClient HttpClient { get; set; } = null!;

    private async Task<IEnumerable<ExoplanetDto>> GetExoplanets(InfiniteScrollingItemsProviderRequest request)
    {
        var planets = await HttpClient.GetFromJsonAsync(new GetExoplanets()
        {
            PageNumber = _currentPage,
            PageSize = 10,         
        }, 
        request.CancellationToken);

        _currentPage++;

        return planets ?? Enumerable.Empty<ExoplanetDto>();
    }
}