@page "/exoplanet"

<div class="page-background-class">
    <InfiniteScrolling ItemsProvider=@GetExoplanets>
        <ItemTemplate Context="item">
            <MudContainer MaxWidth="MaxWidth.Small" Class="pa-2">
                <PlanetCard Exoplanet=@item />
            </MudContainer>
        </ItemTemplate>
        <LoadingTemplate>
            <MudContainer MaxWidth="MaxWidth.Small" Class="pa-2">
                <PlanetCardLoading />
            </MudContainer>
        </LoadingTemplate>
    </InfiniteScrolling>
</div>

@code {

    [Inject] HttpClient HttpClient { get; set; } = null!;

    private readonly int _planetLoadSize = 10;
    private int _currentPage = 1;

    private async Task<IEnumerable<ExoplanetDto>> GetExoplanets(InfiniteScrollingItemsProviderRequest request)
    {
        var exoplanetRoute = $"Exoplanet/{_currentPage}/{_planetLoadSize}";

        var exoplanetGet =
            await HttpClient.GetFromJsonAsync<IEnumerable<ExoplanetDto>>(exoplanetRoute, request.CancellationToken);

        _currentPage++;

        return exoplanetGet ?? Enumerable.Empty<ExoplanetDto>();
    }
}