@page "/exoplanet"

<div class="page-background-class" >
    <InfiniteScrolling ItemsProvider=@GetExoplanets>
        <ItemTemplate Context="item">
            <MudContainer MaxWidth="MaxWidth.Small" Class="pa-2">
                <PlanetCard Exoplanet=@item IsVisable=@_isOverlayVisable />
            </MudContainer>
        </ItemTemplate>
        <LoadingTemplate>
            <MudContainer MaxWidth="MaxWidth.Small" Class="pa-2">
                <PlanetCardLoading />
            </MudContainer>
        </LoadingTemplate>
    </InfiniteScrolling>
</div>

@code {
    private bool _isOverlayVisable = false;
    private int _currentPage = 1;

    [Inject] HttpClient HttpClient { get; set; } = null!;

    private async Task<IEnumerable<ExoplanetDto>> GetExoplanets(InfiniteScrollingItemsProviderRequest request)
    {
        var exoplanetRequest = new GetExoplanets()
        {
            PageNumber = _currentPage,
            PageSize = 10,         
        };

        var exoplanetGet = await HttpClient.GetFromJsonAsync(exoplanetRequest, request.CancellationToken);

        _currentPage++;

        return exoplanetGet ?? Enumerable.Empty<ExoplanetDto>();
    }
}